.future-forecast-card-container{
  height: 250px;
  width: 175px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-right: auto;

  img{
    height: 100%;
  }
}

@media (max-width: 450px) {
  app-future-forecast-card{
    margin-right: 0px!important;
  }
}
