.card-wrapper{
  min-height: 500px;
  min-width: 300px;
  margin-bottom: 100px;
  .card-header-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    .city-info-container{
      display: flex;
      font-size: 20px;
      .weather-img-container{
        //height: 100%;
        width: 100px;
        img {

        }
      }
      .city-temp-contianer{
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    .card-btns-container{
      span{
        margin-left: 10px;
        font-size: 22px;
        cursor: pointer;
        &.active{
          font-weight: 700;
        }
      }
    }
  }
  .card-content-container{
    .weather-details-text-container{
      width: 100%;
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      height: 100px;
      //margin-bottom: 30px;
    }
    .future-days-forecast-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      app-future-forecast-card{
        //margin-right: 40px!important;
        &:first-child{
          //margin-bottom: 0px!important;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .card-wrapper{
    .future-days-forecast-container {
      app-future-forecast-card{
        margin-right: 0px!important;
      }
    }
  }
}
