<div class="card-wrapper card-design" *ngIf="currentCityData">
  <div class="card-header-container">
    <div class="city-info-container">
      <div class="weather-img-container">
        <img [src]="currentWeatherIcon">
      </div>
      <div class="city-temp-contianer">
        <span>{{currentCityName$ | async}}</span>
<!--        <span>{{(isCelsius$ | async) ? currentCityData?.Temperature.Metric.Value : currentCityData?.Temperature.Imperial.Value}}</span>-->
        <span *ngIf="(isCelsius$ | async)">{{currentCityData?.Temperature.Metric.Value}}°C</span>
        <span *ngIf="!(isCelsius$ | async)">{{currentCityData?.Temperature.Imperial.Value}}°F</span>
      </div>
    </div>
    <div class="card-btns-container">
      <span (click)="toggleIsCelsius(true)" [ngClass]="{'active': (isCelsius$ | async)}">°C</span>
      <span (click)="toggleIsCelsius(false)" [ngClass]="{'active': !(isCelsius$ | async)}">°F</span>
      <span (click)="toggleCityAsFavorite(currentCityData)" [ngClass]="{'active': isSetAsFavorite}">LOVE</span>
    </div>
  </div>
  <div class="card-content-container">
    <div class="weather-details-text-container">
      <span>{{currentCityData?.WeatherText}}</span>
    </div>
    <div class="future-days-forecast-container">
      <div *ngFor="let forecast of futureForecastData">
        <app-future-forecast-card [cardData]="forecast"></app-future-forecast-card>
      </div>
    </div>
  </div>
</div>
