@import './src/styles';

.nav-bar-container{
  height: 48px;
  width: 100vw;
  background-color: $app-medium-blue;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .site-name-container{
    color: white;
    font-size: 18px;
  }
  .btns-container{
    .mat-button-wrapper{
      color: white!important;
    }
  }
}
