.weather-info-page-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: ease-out 0.2s;
  height: calc(100% - 48px);
  color: black;
  &.dark-mode{
    background-color: #303030;
    color: white;
  }
  //padding: 50px 0;
  .search-input-cpntainer{
    //margin-bottom: 50px;
    //padding-top: 50px;
    padding: 50px 50px;
    width: 100%;
    .auto-complete-container{
      //max-width: 400px;
      //min-width: 350px;
      width: 100%;
    }
    .invalid-input-text{
      color: #e80000;
    }
  }
  .weather-info-container{
    width: 100%;
    padding: 0 50px;
    &.dark-mode{
      background-color: #303030;
    }
  }
}

@media (max-width: 700px) {
  .weather-info-container{
    padding: 0 20px!important;
  }
}
