<div class="weather-info-page-container" [ngClass]="{'dark-mode': (isDarkMode$ | async)}">
<!--  <button (click)="test()">CLICK</button>-->
  <div class="search-input-cpntainer">
    <form [formGroup]="searchFromGroup">
      <mat-form-field appearance="fill" class="auto-complete-container">
        <mat-label [ngClass]="{'dark-mode': (isDarkMode$ | async)}">Search Location</mat-label>
        <input type="text" matInput formControlName="citySearch" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let city of citiesArray" [value]="city" (onSelectionChange)="onCitySelect(city.Key, city.LocalizedName)">
            {{city.LocalizedName}}, {{city.Country.LocalizedName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span *ngIf="searchFromGroup.get('citySearch').invalid" class="invalid-input-text">*English characters only</span>
    </form>
  </div>
  <div class="weather-info-container" [ngClass]="{'dark-mode': (isDarkMode$ | async)}">
    <app-weather-info-card></app-weather-info-card>
  </div>
</div>
