.favorites-page-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 100px;
  height: calc(100vh - 48px);
  transition: ease-out 0.2s;
  &.dark-mode{
    background-color: #303030;
  }
  .title-container{
    margin-bottom: 20px;
  }
  .is-celsius-container{
    width: 100%;
    text-align: end;
    padding-right: 50px;
    span{
      margin-left: 10px;
      font-size: 22px;
      cursor: pointer;
      &.active{
        font-weight: 700;
      }
    }
  }
  .favorite-cities-container{
    min-width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    .no-fav-text{
      text-align: center;
      font-size: 28px;
      font-weight: 100;
    }
  }
}

@media (max-width: 850px) {
  .favorites-page-container {
    .is-celsius-container {
      text-align: center;
      padding: 0px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 450px) {
  favorite-cities-container{
    justify-content: center;
  }
}
