<div class="favorites-page-container" [ngClass]="{'dark-mode': (isDarkMode$ | async)}">
  <div class="title-container">
    <h1 [ngClass]="{'dark-mode': (isDarkMode$ | async)}">Favorites</h1>
  </div>
  <div class="is-celsius-container" [ngClass]="{'dark-mode': (isDarkMode$ | async)}">
    <span (click)="toggleIsCelsius(true)" [ngClass]="{'active': (isCelsius$ | async)}">°C</span>
    <span>|</span>
    <span (click)="toggleIsCelsius(false)" [ngClass]="{'active': !(isCelsius$ | async)}">°F</span>
  </div>
  <div class="favorite-cities-container">
    <div *ngFor="let city of favoriteCities">
      <app-favorite-city-card [cityId]="city.id" [cityName]="city.name"></app-favorite-city-card>
    </div>
  </div>
</div>
