.favorite-city-card-container{
  height: 250px;
  width: 175px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;
  img{
    height: 100%;
  }
  &.dark-mode{
    background-color: #262626;
  }
}

.favorite-city-card-container{
  &.card-design{
    transition: ease-out 0.2s;
    &:hover{
      box-shadow: 3px 2px 14px 2px rgb(0 0 0 / 10%), 0px 1px 10px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      background-color: #d0dbff;
    }
    &:active{
      background-color: #688eff;
    }
    &.dark-mode{
      &:hover{
        background-color: #ffc6d8;
      }
    }
  }
}


